{
  "plugins": [
        "transform-class-properties"],
    "env": {
        "test": {
             "presets": ["env", "react"]
        },
        "development":{
             "presets": ["env", "react"]
        }
  }
}
